{% extends "base.html" %}
{% block content %}

{% if student %}
<h1 class="text-3xl text-cyan-700">Študent {{student.meno}} {{student.priezvisko}}</h1>
<h3 class="text-xl mb-4">Adresa: {{student.ulica}}, {{student.psc}} {{student.mesto}}</h3>
<h3 class="text-xl mb-4">Vek: {{vek}}</h3>
<div class="text-lg mt-3">Trieda: <a href="{% url "trieda" trieda=student.trieda %}" class="text-blue-600 hover:underline">{{student.trieda}}</a></div>
<div class="text-lg mt-3">Triedny učiteľ: <a href="{% url "ucitel_detail" pk=triedny.id %}" class="text-blue-600 hover:underline"> {{triedny.titul}} {{triedny.meno}} {{triedny.priezvisko}}</a></div>
<h2 class="mt-3 text-2xl pr-4">Krúžky:</h2>
<ul class="py-3 px-4 flex gap-3">
    {% for kruzok in kruzky %}
        <li class="my-2"><a href="{% url "kruzok_detail" skr=kruzok.skratka %}" class="text-blue-600 hover:underline">{{kruzok.nazov}}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if ucitel %}
<h1 class="text-3xl text-cyan-700">Učiteľ {{ucitel.titul}} {{ucitel.meno}} {{ucitel.priezvisko}}</h1>
<h3 class="text-xl mb-4">Adresa: {{ucitel.ulica}}, {{ucitel.psc}} {{ucitel.mesto}}</h3>
<h3 class="text-xl mb-4">Vek: {{vek}}</h3>
<div class="text-lg mt-3">Trieda:  <a href="{% url "trieda" trieda=ucitel.trieda %}" class="text-blue-600 hover:underline">{{ucitel.trieda}}</a></div>
<h2 class="mt-3 text-2xl pr-4">Krúžky:</h2>
<ul class="py-3 px-4 flex gap-3">
    {% if kruzky_ucitel %}
        <li class="my-2"><a href="{% url "kruzok_detail" skr=kruzky_ucitel.skratka %}" class="text-blue-600 hover:underline">{{kruzky_ucitel.nazov}}</a></li>  
    {% endif %}

</ul>
{% endif %}

{% if kruzok %}
<h1 class="text-3xl text-cyan-700">Krúžok {{kruzok}}</h1>
<div class="text-lg mt-3">Učiteľ: <a href="{% url "ucitel_detail" pk=kruzok.ucitel.id %}" class="text-blue-600 hover:underline"> {{kruzok.ucitel.titul}} {{kruzok.ucitel.meno}} {{kruzok.ucitel.priezvisko}}</a></div>
<h2 class="mt-3 text-2xl pr-4">Študenti:</h2>
<ul class="py-3 px-4">
        {% for student in studenti %}
        <li class="my-2"><a href="{% url "student_detail" pk=student.id %}" class="text-blue-600 hover:underline">{{student.meno}} {{student.priezvisko}}</a></li>
        {% endfor %}
</ul>
{% endif %}
{% endblock  %}